.admin-page {
    display: flex;
    justify-content: center;
    background-image: url(../assets/gym-bg.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    background-position: top;
    height: 100dvh;
    /* min-height: 100vh;
    min-height: -webkit-fill-available; */
}

.admin-container {
    position: absolute;
    width: 90%;
    height: 80vh;
    bottom: 0;
    overflow-y: scroll;

    padding: 1rem;

    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: #ffff;
    border: 1rem solid #ffff;
}

::-webkit-scrollbar {
  display: none;
}

.workouts-section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.workouts-heading {
  text-align: center;
  font-size: 28px;
}

.new-workout-btn {
  border: none;
  font-size: 16px;
  font-weight: 500;

  color: black;
  background-color: #ffff;
  border-bottom: 1px solid black;
  padding: 2px 0;
}

.date-container {
  width: 100%;
  margin-bottom: 24px;
}

.date-heading {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.workout-container {
  display: flex;
  align-items: baseline;
  gap: 20px;
  flex-wrap: wrap;
}



.workout-container .del-btn {
  background: none;
  border: none;
}


.users-section {
  display: flex;
  align-items: baseline;
  gap: 20px;
}



@media (max-width: 768px) {
  .admin-container {
    width: 100%;
    height: calc(80vh - 66px);
  }
  .workout-container {
    flex-direction: column;
    align-items: center;
  }

  .new-workout-btn {
    position:static;
  }

  .users-section {
    flex-direction: column;
    margin: 2rem 0;
  }
}