.home-page {
    min-height: 100dvh;

}

/* HERO SECTION */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    
    background-image: url(../assets/gym-bg.jpg);
    background-size: cover;
    background-position: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.welcome-container h1 {
    width: 26rem;
    font-size: 54px;
    letter-spacing: -2px;
    color: #f3f3f3;
}

.welcome-container button {
  font-size: 20px;
  font-weight: 600;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  background-color: #fcba05;
  color: #f3f3f3;
    /* backdrop-filter: blur(10px); */
}

.welcome-container button:hover {
    background-color: #f7d168;
    box-shadow: 0 0 10px #fcba0575;
    transition: .3s;
}

/* NEWS SECTION */
.news-section {
    width: 100%;
    height: 100vh;
    padding: 22px;
}

.news-section h1 {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 36px;
    color: #eaeaea;
}

.news-article {
    display: flex;
    /* gap: 22px; */
    width: 100%;
    max-width: 900px;
    height: 50%;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #2a2c31;
    overflow: hidden;
    box-shadow: 0 10px 15px #1313169a;
}

.article-left {
    width: 50%;
    background-image: url(../assets/mjolby.jpg);
    background-size: cover;
    background-position: center;
    /* border-radius: 16px; */
}

.article-right {
    width: 50%;
    padding: 16px;
    /* border-radius: 16px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.article-title,
.article-text {
    color: #eaeaea;
}


@media (max-width: 768px) {
  
    .welcome-container h1 {
        width: 100%;
        font-size: 44px;
        letter-spacing: -2px;

        text-align: center;
        color: #f3f3f3;
    }

  
  }