.loginbg {
    position: fixed;
    top:0;
    left:0;

    width: 100vw;
    height: 100vh;

    backdrop-filter: brightness(90%) blur(4px);
    z-index: 1;
}

.login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 600px;
    /* height: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px;

    border-radius: 16px;

    background-color: white;

    

}

.login-modal h2 {
    display: flex;
    justify-content: space-between;


    margin-bottom: 1rem;
    font-weight: 700;
}

.login-modal h2 button {
    padding: .3rem;

    color: black;

    border:none;
    background: none;
}

.login-modal label {
    margin-top: 1.5rem;
    font-weight: 500;
}

.login-modal input {
    width: 100%;

    border: none;
    border-bottom: 1px solid rgb(87, 87, 87);

    padding: .8rem .8rem .8rem .2rem;
    margin-bottom: 1rem;

    font-size: 16px;
}

.login-modal input:focus {
    outline: none;
}


.login-modal p {
    margin-top: 2rem;
}


.login-modal p span{
    text-decoration-line: underline;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.login-modal .login-btn {
    padding: 12px 16px;
    margin-top: .5rem;
    border: none;
    color: white;
    background-color: #fcba05;

    cursor: pointer;
}

.login-modal .login-btn:hover {
    background-color: #f7d168;
    box-shadow: 0 0 10px #fcba0575;
    transition: .3s;
}


.hide {
    display: none;
}



@media (max-width: 768px) {
    .login-modal {
        min-width: auto;
        width: 100%;
        /* margin: 1rem; */
    }
}